* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: rgb(13, 103, 182);
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 100%;
    padding: 10px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}
.sfondo{
    background-color: black;
    height: 100vh

}
.contenitore-prova{
    border: 2px solid white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 20px;
    text-align: center;
}

.raccogli-icone{
    display: flex;
    flex-direction: row;
    
    
}

.icone{
    padding-left: 5px;
}
